/* CSS Document */
*{
	margin: 0;
	padding: 0;
}
#wrapper{
	width:640px;
	height: 400px;
	background: blue;
	margin: 0 auto;
}
.box{
	width: 200px;
	height: 200px;
	background: red;
	float: left;
	margin-left: 10px;
	margin-top: 90px;
}
